* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}
  
canvas {
    flex: 5;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    background-color: white;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar button:hover, .dropdown:hover .dropbtn {
    background-color: #505050;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content button {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border: none;
    width: 100%;
}
  
.dropdown-content button:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    display: flex;
}

.nodeEditor {
    color: black;
    width: auto;
    background-color: darkgrey;
    flex: 2;
    text-align: center;
}

.toolbar {
    color: black;
    width: auto;
    background-color: darkgrey;
    flex: 2;
    text-align: center;
}

input {
    width: 85%;
    height: 35px;
    text-align: center;
}

select {
    width: 85%;
    height: 35px;
    text-align: center;
}